src/main/resources/wsdl/GetChemicalProducts.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="GetChemicalProducts"
	targetNamespace="http://org/greypowerservices/webservices/productservice"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://org/greypowerservices/webservices/productservice"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://org/greypowerservices/webservices/productservice"
	xmlns:sch1="http://webservices.greypowerservices.org">
	<wsdl:types>
		<xsd:schema targetNamespace="http://org/greypowerservices/webservices/productservice"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:unitMeasure="http://webservices.greypowerservices.org"
			attributeFormDefault="unqualified" elementFormDefault="qualified">
			<xsd:import namespace="http://webservices.greypowerservices.org" />
			<xsd:element name="GetChemicalProductsRequest">
				<xsd:complexType/>
			</xsd:element>
			<xsd:element name="GetChemicalProductsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://org/greypowerservices/webservices/productservice">
			<xsd:element
				name="http://webservices.greypowerservices.orgChemicalProductsRequest"
				type="xsd:string"></xsd:element>
			<xsd:element name="GetChemicalProductsRequestGetChemicalProductsRequest"
				type="xsd:string"></xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="GetChemicalProductsRequest">
		<wsdl:part element="tns:GetChemicalProductsRequest" name="GetChemicalProductsRequest" />
	</wsdl:message>
	<wsdl:message name="GetChemicalProductsResponse">
		<wsdl:part element="GetChemicalProductsResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="GetChemicalProducts">
		<wsdl:operation name="GetChemicalProducts">
			<wsdl:input message="tns:GetChemicalProductsRequest" />
			<wsdl:output message="tns:GetChemicalProductsResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GetChemicalProductsSOAP" type="tns:GetChemicalProducts">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetChemicalProducts">
			<soap:operation
				soapAction="http://www.example.org/GetChemicalProducts/NewOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GetChemicalProducts">
		<wsdl:port binding="tns:GetChemicalProductsSOAP" name="GetChemicalProductsSOAP">
			<soap:address location="http://localhost:8081/greypowerservices/endpoints" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
